<div class="ps-game-header container-full ps-bg-color-cyan ps-m-none ps-p-none">
  <div class="container-psxlg ps-d-flex ps-align-items-center ps-justify-content-space-between">
    <div class="ps-logo-container">
      <h1>PS GAME DEMO</h1>
    </div>
    <ul class="ps-menu-container ps-nav-wrapper ps-d-flex ps-align-items-center ps-list-style-none">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <!-- <li><a routerLink="/game" routerLinkActive="active">Game</a></li> -->
    </ul>
  </div>
</div>